/* VARIABLES */
:root {
	--dark-blue: #00598A;
	--light-blue:#2F6AE5;
	--hover-blue:#0370b0;
	--gray:#F3F3F3;
	--green:#009D9A;
	--dark-gray:#232323;
	--light-black:#434343;
}

/* RULES */
.title {
	background-image: linear-gradient(to right, var(--light-blue), var(--green));
	color:white;
	height:auto;
	text-align: center;
	width:auto;
}

.welcome {
	color:white;
	font-size: 2.8rem;
	font-weight: lighter;
	letter-spacing: 0.08em;
	padding-bottom: 70px;
	padding-top: 70px;	
}

.subtitle{
	color:white;
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal;
	letter-spacing: 0.03em;
	margin-top:2rem;
}

.my-background {
	background-image: linear-gradient(to right, var(--light-blue), var(--green))
}

.landing-background{
	background: url("../img/Background-2.png") no-repeat center center fixed
}

.landing-content{
	margin-top:150px
}

.sistem-name {
	font-weight:bold;
	letter-spacing: 0.08em;
}

.menu button{
	display:inline-block;
	margin-right: 20px;
	margin-top:10px;
}

.menu button:last-child{
	margin-right:0
}

.my-btn {
	background-color: var(--dark-blue);
	border: none;
	color:white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.3rem;
	padding: 8px 16px;
	text-decoration: none;
}

.my-btn-sc:hover i {
	color:white
}

.my-btn-sc {
	background-color: #F3F3F3;
	border: none;
	color: var(--dark-gray);
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.3rem;
	padding: 8px 16px;
	text-decoration: none;
}

.sm{
	font-size: 1rem;
	padding: 5px 9px;
}

.my-btn:hover,.my-btn-sc:hover, .my-btn-sm:hover {
	background-color: var(--hover-blue);
	color:white;
}

.my-card{
	margin-bottom:100px;
	margin-top: 100px;
}

.month a{
	color: var(--light-blue);
	font-weight: 500;
	text-decoration: none;
}

.month a:hover{
	color: var(--light-blue);
}

.profile-menu{
	display:flex;
	flex-direction: column;
	padding-left: 45px;
}

.information{
	display:flex;
	flex-direction: row;
}

.btn-search{
	position:absolute;
	right:75;
}

.name-position{
	margin-left: 30px;
	margin-right: 20px;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-menu{
	align-items: baseline;
	display:flex;
	justify-content: space-between;
}

.copyright {
	color:#aaa;
	font-size:13px;
	margin-bottom:0;
  	margin-top:15px;
  	text-align:center;  
}

footer {
	background-color: var(--gray);
	bottom: 0;
	height: 50px;
	position: absolute;
	text-align: center;
	width: 100%;
}

h4,h6{
	color:white
}

label, .head {
	color: var(--light-black);
	font-weight:bold;
}

i {
	color: var(--dark-blue)
}

body{
	color:var(--dark-gray);
	position:relative
}

p{
	font-size:1.15rem;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

#uid{
	color: var(--light-blue);
}

#warning{
	color:firebrick;
	padding-bottom:15px;
}
