/* VARIABLES */
.root {
	--btn-color: #245886;
}

/* RULES */
.title {
	background-image: linear-gradient(to right, #306AE6, #43979F);
	color:white;
	height:auto;
	text-align: center;
	width:auto;
}
.my-background {
	background-image: linear-gradient(to right, #306AE6, #43979F);
}
.landing-background{
	background: url("../img/Background-2.png") no-repeat center center fixed; 
}

.landing-content{
	margin-top:150px;
}
.name {
	font-weight:bold;
	letter-spacing: 0.08em;
}
.welcome {
	letter-spacing: 0.08em;
	padding-top: 70px;
	font-weight: lighter;
	font-size: 2.8rem;
	padding-bottom: 70px;
	color:white;
}
.subtitle{
	color:white;
	font-weight: normal;
	letter-spacing: 0.03em;
}
label {
	font-weight:bold;
	color:#4b4c4d;
}
body {
	background-color: black
}
.my-btn {
	background-color: #245886;
	color:white;
	font-size: 1.3rem;
	padding: 8px 16px;
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
	border: none;
}
.my-btn-sc {
	background-color: #F3F3F3;
	color: #232323;
	font-size: 1.3rem;
	padding: 8px 16px;
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
	border: none;
}
.my-btn:hover,.my-btn-sc:hover {
	background-color: #306EAB;
	color:white;
}

i {
	color: #245886
}

footer {
	background-color: #F3F3F3;
	bottom: 0;
	color:#4b4c4d;
	left: 0;
	padding: 10px;
	text-align: center;
	width: 100%;
}
.copyright {
	color:#aaa;
	font-size:13px;
	margin-bottom:0;
  	margin-top:15px;
  	text-align:center;  
}
.my-form{
	background-color: #F3F3F3;
}
.my-card{
	margin-top: 100px;
	margin-bottom:100px;
}
.my-card-img{
	width:362px;
	height:265px;
}

/* SHAPES */
#rectangle {
  width: auto;
  height: auto;
  padding-left: 10px;
  background: red;
}
#triangle-down {
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}