<html lang="en" xmlns:theadh="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compensation History</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/welcome">
				Employment System
			</a>
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-secondary btn-sm" type="submit" value="Sign Out" />
			</form>
		</div>
	</nav>
	<div class="container">

		<h1><span th:text="${employee.firstName}"></span>'s Compensation history</h1>

		<!-- Employee's alerts -->
		<div class="alert alert-success" role="alert" th:if="${param.updateuser}">Employee updated successfully.</div>
		<div class="alert alert-danger" role="alert" th:if="${param.duplicate}">The information of that employee already
			exists.</div>
		<div class="alert alert-warning" role="alert" th:if="${param.invalid}">Enter a valid birth date, please.</div>

		<div class="row my-4">
			<div class="col-1"> <img src="/img/profile-pic.jpg" alt="employee's profile photo" width="80" height="80">
			</div>
			<div class="col">
				<h4 th:text="${employee.firstName} + ' ' + ${employee.middleName} + ' ' + ${employee.lastName}"></h4>
				<h6 th:text="${employee.position}"></h6>
			</div>
			<div class="col">
				<a th:href="@{/employee/{uid}/edit(uid=${employee.uid})}"
					class="btn btn-outline-primary btn-sm">Edit</a>
			</div>
			<div class="col">
				<a href="/search/form" class="btn btn-outline-secondary" role="button">Back to search</a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<form th:action="@{/employee/{uid}/compensation_history/search(uid=${employee.uid})}" class="d-flex"
					method="GET">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">Start date</span>
						</div>
						<input type="month" name="sDate" min="1970-01" value="2022-12" max="2023-12"
							class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
					</div>
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">End date</span>
						</div>
						<input type="month" name="eDate" min="1970-01" value="2022-12" max="2023-12"
							class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
					</div>
					<button class="btn btn-secondary btn-sm mb-3" type="submit">Search</button>
				</form>
			</div>
			<div class="col">
				<a th:href="@{/employee/{uid}/new_compensation(uid=${employee.uid})}" class="btn btn-primary"
					role="button">Add a new compensation</a>
			</div>
		</div>
		<!-- Alerts -->
		<div class="alert alert-success" role="alert" th:if="${param.success}">Compensation added successfully.</div>
		<div class="alert alert-success" role="alert" th:if="${param.updated}">Compensation history updated successfully.</div>

		<div class="row">
			<table class="table">
				<thead class="text-center">
					<tr class="table-secondary">
						<th colspan="3">Compensation History</th>
					</tr>
				</thead>
				<thead>
					<tr>
						<th>Year</th>
						<th>Month</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="compensation : ${listComp}">
						<th th:text="${#dates.year(compensation.date)}" scope="row"></th>
						<td> <a th:href="@{/employee/{uid}/compensation_details/{month}/{year}(uid=${employee.uid},month=${#dates.monthName(compensation.date)},year=${#dates.year(compensation.date)} )}"
								href="#" th:text="${#dates.monthName(compensation.date)}"></a> </td>
						<!-- Send to a new template to view compensations by that month-->
						<td th:text="'$' + ${compensation.amount}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="table-dark">
						<th scope="row">Total</th> <!-- Total doesnt update with the history results -->
						<td colspan="2" th:text="${total}"></td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>
</body>

</html>